/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body /*è una classe come tutte quelle prima delle graffe*/
 {
   font-family: 'Raleway', sans-serif;/*font del body*/
 }
 
 nav ul a,   /*indicano la barra superiore e sono due selector che si possono mettere in comune con una virgola, con le stesse caratterstiche*/
 nav .brand-logo {
   color: white; /*indica il colore della barra del menù e il logo*/
 }
 
 .nav-wrapper {
   position: relative;
   height: 100%;
   padding-left: 50px; /*sono i margini del logo */
   padding-right: 50px;
   /*si possono scrivere anche in padding:  0 10px che indica 0 sopra e sotto e il 10px sono destra e sinistra*/
 }
 
 p  /*stile dei paragrafi*/
   { 
   line-height: 2rem;
   color:rgb(24, 23, 23);
 }
 
 .sidenav-trigger /*stile della barra di navigazione*/
 {
   color: white;
 }
 
 .parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

 .header /*margine del titolo*/
 {
   margin-top: 65px;
 }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
     margin-top: 70px;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 /*se il sito è in uno schermo con un massimo di 600px avranno queste impostazioni*/
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 
   .nav-wrapper
   {
     position: relative;
     height: 100%;
     padding: 0 10px;
   }
 
 }

 .container-gioco
 {
   margin-bottom: 25%;
 }

.points
{
  display: flex; /*li mette allineati orizzontalmente*/
  align-items: center; /*allineamento centrale delle parole*/
  flex-direction: row; /*allineamento centrale del testo*/
  justify-content: space-evenly; /*crea lo spazio*/
}

.points p /*punteggi giocatori*/ 
{
text-align: center;
padding: 15px ;
font-size: 30px;
}

.vs /*transazione del blocco di gioco*/
{
  position: absolute; /*posizione assoluta*/
  top: 87%;
  transform: translate(85%, 10%);/*transazione del contenuto del -50% sia sull asse x che asse y*/
}

.ps_win
{
  text-align: center;
}

.vs .check /*diposizioni dei bottoni delle scelte*/
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.vs .launch
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player_game /*immagine del gioco del player*/
{
  transform: rotateY(180deg); /*rotazione delle immagini di 180 gradi*/
}

.ps_winend
{
  position: absolute;
  top: 40%;
  transform: translate(0%, -20%);/*transazione del contenuto del -50% sia sull asse x che asse y*/
  width: 100%;
  text-align: center;
}

.gameout
{
  opacity: 0; /*opacità della sezione oscurata*/
  pointer-events: none; /*gli eventi al click non funzionano*/
}

.gamein
{
  opacity: 1; /*rimozione della opacità*/
  pointer-events: all; /*gli eventi al click funzionano*/
}