/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body /*è una classe come tutte quelle prima delle graffe*/
{
  font-family: 'Raleway', sans-serif;/*font del body*/
}

nav ul a,   /*indicano la barra superiore e sono due selector che si possono mettere in comune con una virgola, con le stesse caratterstiche*/
nav .brand-logo {
  color: white; /*indica il colore della barra del menù e il logo*/
}

.nav-wrapper {
  position: relative;
  height: 100%;
  padding-left: 50px; /*sono i margini del logo */
  padding-right: 50px;
  /*si possono scrivere anche in padding:  0 10px che indica 0 sopra e sotto e il 10px sono destra e sinistra*/
}

p  /*stile dei paragrafi*/
  { 
  line-height: 2rem;
  color:rgb(24, 23, 23);
}

.sidenav-trigger /*stile della barra di navigazione*/
{
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 
/*questa classe dedicato al contenuto della intro con altezza e larghezza al 100% non verrà tagliato nessuno tipo di elemento*/
.section-intro
{
  height: 100%;
  width: 100%;
}

.header /*margine del titolo*/
{
  margin-top: 15%;
}

.header-subtitle
{
  margin-top: 5%;
  font-size: 1.5em; /*em è il valore ceh rende responsive le dimensioni del dispositivo su cui si apre il sitoe nn un valore assoluto come le percentuali*/ 
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    margin-top: 70px;
  }
  #index-banner .section {
    top: 10%;
  }
}

/*se il sito è in uno schermo con un massimo di 600px avranno queste impostazioni*/
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .nav-wrapper
  {
    position: relative;
    height: 100%;
    padding: 0 10px;
  }

}

.col-servizi
{
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-progetti
{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section-progetti {
    
    padding: 0 15px;
  }
}

.card
{
  margin: 5%;
  margin-bottom: 10%;
  
}
.col-progetti /*spazio superiore e inferiori della sezioni progetti*/
{
  margin-top: 60px;
  margin-bottom: 60px;
}


.btn-play /*dimensioni del bottone sulle carte*/
{
  width: 60px;
  height: 60px;  
}

.simbolo-play /*dimensioni delle icone generali*/
{
  font-size: 35px;

}

.play-arrow/*caratteristiche delle icone*/
{
  padding-top: 10px;
}

.col-contatti
{
  margin-top: 60px;
  margin-bottom: 60px;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  
}
